<% provide(:title, "Edit Category") %> 
<h2>Update Category</h2>

<div class="row">
	<div class="span6 offset3"> 
		<%= form_for(@category, url: video_category_path) do |f| %>
			<%= render 'shared/error_messages' %> 
			<input name="_method" type="hidden" value="put" />

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :code %>
			<%= f.text_field :code %> 

			<%= f.label :description %>
			<%= f.text_field :description %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
</div>