<% provide(:title, @user.first_name + " " + @user.last_name) %> 
<div class="row">
	<aside class="span4"> 
		<section>
			<h1><%= @user.first_name %> <%= @user.last_name %></h1>
			<div><%= @user.email %></div>
			<div><%= @user.address %></div>
			<div><%= @user.city %></div>
			<div><%= @user.country %></div>
			<div><%= link_to "Edit", edit_user_path(@user) %> </div>
		</section>
	</aside>
</div>